<h4><%= link_to "Delete Playlist", @playlist, method: :delete %></h4>

<%= render 'playlist' %>

<% @playlist.podcasts.each do |podcast| %>
  <div class="container">
    <img src='<%= podcast.image_url %>' class="image-list">
    <ul class="podcasts-list">
      <li><%= link_to podcast.artist_name, playlist_podcast_path(@playlist, podcast) %></li>
      <li><%= podcast.collection_name %></li>
      <li><%= podcast.primary_genre %></li>
      <li><a href='<%= podcast.itunes_url %>'>Click Here to view Podcast on the Itunes Website.</a></li>
    </ul>
  </div>

<% end %>

