<%= render 'playlists/playlist' %>
<h4><%= link_to "Delete Podcast", playlist_podcast_path(@podcast.playlist_id, @podcast), method: :delete %></h4>

<div class="container">
  <img src='<%= @podcast.image_url %>' class="image-list">
  <ul class="podcasts-list">
    <li>Artist Name: <%= @podcast.artist_name %></li>
    <li>Podcast Name: <%= @podcast.collection_name %></li>
    <li>Primary Genre: <%= @podcast.primary_genre %></li>
    <li id="rss-url">Rss Url: <%= @podcast.rss_url %></li>
    <li><button class="apple"><a href='<%= @podcast.itunes_url %>' target='_blank'>&#63743;</a></button></li>
  </ul>
</div>

<audio controls>
  <source src="http://traffic.libsyn.com/joeroganexp/p562.mp3" type="audio/mpeg">
</audio>