<%= render 'playlists/playlist' %>
<h4><%= link_to "Delete Podcast", playlist_podcast_path(@podcast.playlist_id, @podcast), method: :delete %></h4>

<div class="container">
  <ul class="podcasts-list">
    <li id="image-show-pc"><img src='<%= @podcast.image_url %>' class="image-list"></li>
    <li><%= @podcast.artist_name %></li>
    <li><%= @podcast.collection_name %></li>
    <li><a href='<%= @podcast.itunes_url %>'>Click Here to view Podcast on the Itunes Website.</a></li>
    <li><%= @podcast.rss_url %></li>
    <li><%= @podcast.primary_genre %></li>
  </ul>
</div>

<audio controls>
  <source src="http://traffic.libsyn.com/joeroganexp/p562.mp3" type="audio/mpeg">
  Your browser does not support the audio tag.
</audio>