<!DOCTYPE html>
<html>
<head>
  <title>PocketPodCast</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1><%= link_to "PodCloud", root_url %></h1>

  <% if !user_signed_in? %>
    <ul class="no-session">
      <li><%= link_to "Sign In", new_user_session_path, id: "sign-in" %></li>
      <li id="or-text">Or</li>
      <li><%= link_to "Sign Up", new_user_registration_path, id: "sign-up" %></li>
    </ul>

  <% elsif user_signed_in? %>
    <ul class="yes-session">
      <li><%= current_user.email %></li>
      <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete, id: "sign-out" %></li>
    </ul>

  <% end %>

  <div class="search-div">
    <form class="search-form">
      <input placeholder="Search" type="search" id="search"></input>
      <input type="submit" id="submit-search" value="Submit"></input>
    </form>
  </div>

  <ul class="option"></ul>

  <div class="search-pc-container">
    <ul class="podcast"></ul>
    <% if user_signed_in? %>
      <ul class="button-add"><li><button class='add-to-playlist'>Add to Playlist</button></li></ul>
    <% end %>
  </div>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
