<!DOCTYPE html>
<html>
<head>
  <title>PodCloud</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1><%= link_to "PodCloud", root_url %></h1> 

    <!-- Sign in and Sign Out Buttons -->
    <% if !user_signed_in? %>
      
      <ul class="no-session">
        <li><%= link_to "Sign In", new_user_session_path, id: "sign-in" %></li>
        <li id="or-text">Or</li>
        <li><%= link_to "Sign Up", new_user_registration_path, id: "sign-up" %></li>
      </ul>

    <% elsif user_signed_in? %>
      
      <ul class="yes-session">
        <li><%= current_user.email %></li>
        <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete, id: "sign-out" %></li>
      </ul>

    <% end %>
    <!-- end -->

    <!-- Search Bar -->
    <div class="search-div">
      <form class="search-form">
        <input placeholder="Search Podcast" type="search" id="search"></input>
        <input type="submit" id="submit-search" value="Submit"></input>
      </form>
    </div>
    <!-- end -->
  </header>

<%= yield %>

  <!-- Where results are appended to from javascript -->
  <div class="search-js">
    <ul class="option"></ul>
  </div>
  <!-- end -->

  <!-- For viewing Podcasts indivually from search -->
  <div class="search-pc-container">
    <ul class="podcast-show"></ul>
  </div>
  <!-- end -->

  <!-- Seperate div for using the buttons -->
  <div class="add-to-your-pl">
  <% if user_signed_in? %>
      <ul class="button-add"><li><button class='add-to-playlist'>Add to Playlist</button></li></ul>
    <% end %>
  
  <!-- <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p> -->
  <%= javascript_include_tag 'application'%>
</body>
</html>
